WEBAPP_TOKEN=TOKEN  # Used to authenticate NDK API requests

PWD_SECRET=GENERATED_SECRET  # Used to sign JWT tokens
ADMIN_EMAIL=ADMIN@EMAIL.COM # Use to create your initial admin user
ADMIN_PASSWORD=ADMIN_PASSWORD  # Use to create your initial admin user

POSTGRES_PASSWORD=PASSWORD  #  Secures backend DB for Hatchet
RABBITMQ_DEFAULT_PASS=PASSWORD  #  Secures queue management for Hatchet
MONGODB_PASS=PASSWORD  #  Secures database for tasks and results

MONGODB_URI="mongodb://autocrop-db-user:PASSWORD@mongo-db:27017/mydb?authSource=admin"
POSTGRES_URI="postgresql://hatchet:PASSWORD@postgres:5432/hatchet?sslmode=disable"
RABBITMQ_SERVER_URL=amqp://user-ar1HnF5kQrBNlFCG:PASSWORD@rabbitmq:5672/
