WEBAPP_TOKEN=TOKEN

POSTGRES_PASSWORD=PASSWORD
RABBITMQ_DEFAULT_PASS=PASSWORD
MONGODB_PASS=PASSWORD

MONGODB_URI="mongodb://autocrop-db-user:PASSWORD@mongo-db:27017/mydb?authSource=admin"
POSTGRES_URI="postgresql://hatchet:PASSWORD@postgres:5432/hatchet?sslmode=disable"
RABBITMQ_SERVER_URL=amqp://user-ar1HnF5kQrBNlFCG:PASSWORD@rabbitmq:5672/
